#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define B_MAC 0
#define B_WIN 1
#define NAV   2
#define NUM   3
#define ADJ   4

/* 位置番号の配置: */
/*  0  1  2  3  4  5    6  7  8  9 10 11 */
/* 12 13 14 15 16 17   18 19 20 21 22 23 */
/* 24 25 26 27 28 29   30 31 32 33 34 35 */
/*          36 37 38   39 40 41 */
/*
  &kp (Key Press) //通常のキー押下
  &mo (Momentary Layer) //押している間だけレイヤーを切り替え
  &trans (Transparent) //キー透過（前レイヤーを採用）
  &bt (Bluetooth) //Bluetooth関連のキー
  &mt (Mod Tap) //修飾キーと通常キーの同時割り当て
  &lt (Layer Tap) //レイヤー切り替えと通常キーの同時割り当て
  &tog (Toggle Layer) //レイヤーのON/OFF切り替え
  */

/ {
    hmr_r: hmr_r {
        compatible = "zmk,behavior-hold-tap";
        label = "HMR_R";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        flavor = "balanced";
        hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
        hold-trigger-on-release;
        require-prior-idle-ms = <150>;
    };

    hmr_r2: hmr_r2 {
        compatible = "zmk,behavior-hold-tap";
        label = "HMR_R2";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        flavor = "balanced";
        hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
        hold-trigger-on-release;
        require-prior-idle-ms = <150>;
        hold-while-undecided;
    };

    hmr_l: hmr_l {
        compatible = "zmk,behavior-hold-tap";
        label = "HMR_L";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        flavor = "balanced";
        hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        hold-trigger-on-release;
        require-prior-idle-ms = <150>;
    };

    hmr_l2: hmr_l2 {
        compatible = "zmk,behavior-hold-tap";
        label = "HMR_L2";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        flavor = "balanced";
        hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        hold-trigger-on-release;
        require-prior-idle-ms = <150>;
        hold-while-undecided;
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <2 3>;
            then-layer = <4>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // Mouse Buttons
        combo_mouse_left {
            timeout-ms = <30>;
            key-positions = <4 16>;
            bindings = <&mkp MB1>;
        };

        combo_mouse_right {
            timeout-ms = <30>;
            key-positions = <5 17>;
            bindings = <&mkp MB2>;
        };

        // Special Keys
        combo_TAB {
            timeout-ms = <30>;
            key-positions = <14 15>;
            bindings = <&kp TAB>;
        };

        combo_DEL {
            timeout-ms = <30>;
            key-positions = <15 16>;
            bindings = <&kp DEL>;
            layers = <B_MAC B_WIN>;
        };

        combo_backspace {
            timeout-ms = <30>;
            key-positions = <18 19>;
            bindings = <&kp BSPC>;
        };

        // Symbol Keys
        combo_minus {
            timeout-ms = <30>;
            key-positions = <20 21>;
            bindings = <&kp MINUS>;
            layers = <B_MAC B_WIN>;
        };

        combo_quote {
            timeout-ms = <30>;
            key-positions = <32 33>;
            bindings = <&kp SQT>;
            layers = <B_MAC B_WIN>;
        };

        combo_equal {
            timeout-ms = <30>;
            key-positions = <8 9>;
            bindings = <&kp EQUAL>;
            layers = <B_MAC B_WIN>;
        };

        combo_backslash {
            timeout-ms = <30>;
            key-positions = <31 32>;
            bindings = <&kp BSLH>;
            layers = <B_MAC B_WIN>;
        };

        combo_grave {
            timeout-ms = <30>;
            key-positions = <27 28>;
            bindings = <&kp GRAVE>;
            layers = <B_MAC B_WIN>;
        };

        combo_lbkt {
            timeout-ms = <30>;
            key-positions = <7 19>;
            bindings = <&kp LBKT>;
        };

        combo_rbkt {
            timeout-ms = <30>;
            key-positions = <8 20>;
            bindings = <&kp RBKT>;
        };

        combo_lang2 {
            timeout-ms = <50>;
            key-positions = <14 16>;
            bindings = <&kp LANG2>;
        };

        combo_lang1 {
            timeout-ms = <50>;
            key-positions = <19 21>;
            bindings = <&kp LANG1>;
        };

        // Num layer
        combo_f11 {
            timeout-ms = <30>;
            key-positions = <25 26>;
            bindings = <&kp F11>;
            layers = <3>;
        };

        combo_f12 {
            timeout-ms = <30>;
            key-positions = <27 28>;
            bindings = <&kp F12>;
            layers = <3>;
        };

        combo_num_plus {
            timeout-ms = <30>;
            key-positions = <3 4>;
            bindings = <&kp PLUS>;
            layers = <3>;
        };

        combo_num_minus {
            timeout-ms = <30>;
            key-positions = <15 16>;
            bindings = <&kp MINUS>;
            layers = <3>;
        };

        combo_num_asterisk {
            timeout-ms = <30>;
            key-positions = <7 8>;
            bindings = <&kp STAR>;
            layers = <3>;
        };

        combo_num_slash {
            timeout-ms = <30>;
            key-positions = <19 20>;
            bindings = <&kp FSLH>;
            layers = <3>;
        };

        combo_num_colon {
            timeout-ms = <30>;
            key-positions = <20 21>;
            bindings = <&kp COLON>;
            layers = <3>;
        };

        // Mac Only
        combo_mac {
            timeout-ms = <30>;
            key-positions = <38 39>;
            bindings = <&kp LG(LS(N4))>;
            layers = <B_MAC>;
        };

        // Windows Only
        combo_win {
            timeout-ms = <30>;
            key-positions = <38 39>;
            bindings = <&kp LG(LS(S))>;
            layers = <B_WIN>;
        };
    };

    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        b_mac {
            display-name = "B_MAC";
            bindings = <
                        &kp LG(C)  &kp Q  &kp W  &kp E  &kp R  &kp T      &kp Y  &kp U  &kp I  &kp O  &kp P  &trans  
&kp LG(X) &kp A &hmr_l2 LGUI S &hmr_l LALT D  &hmr_l LCTRL F   &kp G      &kp H  &hmr_r RCTRL J  &hmr_r RALT K  &hmr_r2 RGUI L  &kp SEMI  &trans  
                        &kp LG(V)  &kp Z  &kp X  &kp C  &kp V  &kp B      &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &trans  
                                     &kp ESC  &mo 2 &mt LSHFT SPACE      &mt RSHFT RET  &mo 3  &trans
            >;
        };

        b_win {
            display-name = "B_WIN";
            bindings = <
               &kp LC(C) &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y  &kp U  &kp I  &kp O  &kp P  &trans  
&kp LC(X) &kp A &kp S &hmr_l LALT D  &hmr_l LCTRL F  &kp G        &kp H  &hmr_r RCTRL J  &hmr_r RALT K  &kp L  &kp SEMI  &trans  
              &kp LC(V)  &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &trans  
                           &kp ESC  &mo 2  &mt LSHFT SPACE        &mt RSHFT RET  &mo 3  &kp RGUI
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <
&trans  &trans  &trans  &kp LC(PG_DN)  &kp LC(PG_UP)  &trans          &kp HOME  &kp PG_DN  &kp PG_UP  &kp END  &trans  &trans  
&sys_reset  &kp LC(N1) &kp LC(N2) &kp LC(N3) &kp LC(N4) &kp LC(N5)    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans  
         &bootloader  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  
                              &trans  &mo 2  &mt LSHFT SPACE          &mt RSHFT RET  &mo 3  &trans
            >;
        };

        num {
            display-name = "NUM";
            bindings = <
&trans  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT     &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &trans  
        &trans  &kp N1  &kp N2  &kp N3  &kp N4   &kp N5     &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &sys_reset  
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5   &kp F6     &kp F7  &kp F8  &kp F9  &kp F10  &bootloader  
                         &trans  &mo 2  &mt LSHFT SPACE     &mt RSHFT RET  &mo 3  &trans
            >;
        };

        adj {
            display-name = "ADJ";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &tog 1      &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &kp C_BRI_DN  &kp C_BRI_UP  &trans  
&trans  &trans  &trans  &trans  &trans  &trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  
&trans  &trans  &trans  &trans  &trans  &trans      &bt BT_CLR  &studio_unlock  &trans  &trans  &trans  &trans  
                &trans  &mo 2  &mt LSHFT SPACE      &mt RSHFT RET  &mo 3  &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
